<div class="container-fluid">
  <div class="container">
    <div class="genre-aplabhets">
      <ul>
        <li><a href="#" class="badge badge-secondary">Action</a></li>
        <li><a href="#" class="badge badge-secondary">Adventure</a></li>
        <li><a href="#" class="badge badge-secondary">Animation</a></li>
        <li><a href="#" class="badge badge-secondary">Children</a></li>
        <li><a href="#" class="badge badge-secondary">Comedy</a></li>
        <li><a href="#" class="badge badge-secondary">Crime</a></li>
        <li><a href="#" class="badge badge-secondary">Documentary</a></li>
        <li><a href="#" class="badge badge-secondary">Drama</a></li>
        <li><a href="#" class="badge badge-secondary">Family</a></li>
        <li><a href="#" class="badge badge-secondary">Fantasy</a></li>
        <li><a href="#" class="badge badge-secondary">Food</a></li>
        <li><a href="#" class="badge badge-secondary">Home and Garden</a></li>
        <li><a href="#" class="badge badge-secondary">Horror</a></li>
        <li><a href="#" class="badge badge-secondary">Mini-Series</a></li>
        <li><a href="#" class="badge badge-secondary">Mystery</a></li>
        <li><a href="#" class="badge badge-secondary">News</a></li>
        <li><a href="#" class="badge badge-secondary">Reality</a></li>
        <li><a href="#" class="badge badge-secondary">Romance</a></li>
        <li><a href="#" class="badge badge-secondary">Sci-Fi</a></li>
        <li><a href="#" class="badge badge-secondary">Sport</a></li>
        <li><a href="#" class="badge badge-secondary">Suspense</a></li>
        <li><a href="#" class="badge badge-secondary">Talk</a></li>
        <li><a href="#" class="badge badge-secondary">Show</a></li>
        <li><a href="#" class="badge badge-secondary">Thriller</a></li>
        <li><a href="#" class="badge badge-secondary">Travel</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <p>TOP 12 SHOWS</p>
        <input type="text" class="form-control" id="search" placeholder="Search...">
      </div>
      <div class="card-body">
        <!--{{subshows.genre}}-->
      </div>
    </div>
  </div>
</div>
