.genre-aplabhets {
  margin: 5rem auto 2rem;
  ul {
    li {
      display: inline;
      margin: auto 0.5rem;
      text-align: justify;
      a {
      }
    }
  }
}
.card {
  .card-header {
    display: grid;
    grid-template-columns: auto 10rem;
    p {
    }
    input[type="text"] {
      width: 10rem;
    }
  }
}
